/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  background-color: #ffffff;
  font-family: 'ArimoBold';
}
/* Globales */
.contenedor {
  width: 98%;
  margin: 0 auto;
}
@media only screen and (min-width:480px) {
  .contenedor {
    width: 97%;
  }
}
@media only screen and (min-width:768px) {
  .contenedor {
    width: 97%;
  }
}
@media only screen and (min-width:992px) {
  .contenedor {
    width: 97%;
    max-width: 1100px;
  }
}

/* Barra */
div.barra {
  background-color: #c3bc96;
}
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
div.logo {
  width: 50%;
  float: left;
  padding: 5px 10px;
}
div.logo img {
  width: auto;
}
@media only screen and (min-width:768px) {
  div.logo {
    width: 15%;
    padding: 0;
    margin: 1px 0;
  }
  div.logo img {
    width: 95%;
  }
}

/* Navegación Principal */
.navegacion-principal {
  display: none;
  width: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: auto;
}
.navegacion-principal ul li a {
  font-family: 'ArimoBold';
  font-weight: bold;
  color: #766c5b;
  font-size: 1.1em;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 1px 1px #dbd4b2;
  transition: all .5s ease;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 8px 0 0 0;
  border-left: 5px solid;
}
.navegacion-principal ul li:last-child {
  margin-bottom: 10px;
}
#btn_vacaciones {
  border-color: #32532d;
}
#btn_empresas {
  border-color: #810606;
}
#btn_sociales {
  border-color: #000000;
}
nav.navegacion-principal a:hover#btn_vacaciones,
nav.navegacion-principal a:hover#btn_vacaciones.activo {
  color: #32532d;
}
nav.navegacion-principal a:hover#btn_empresas,
nav.navegacion-principal a:hover#btn_empresas.activo {
  color: #810606;
}
nav.navegacion-principal a:hover#btn_sociales,
nav.navegacion-principal a:hover#btn_sociales.activo {
  color: #000000;
}

@media only screen and (min-width:768px) {
  nav.navegacion-principal {
    width: 85%;
    display: inline-block;
  }
  nav.navegacion-principal ul li {
    float: right;
    width: 28.33%;
    margin-bottom: 0!important;
  }
  nav.navegacion-principal ul li:first-child {
    width: 23%;
  }
  nav.navegacion-principal ul li a {
    border-left: none;
    padding: 0;
  }
  nav ul li span {
    line-height: 50px;
  }
  a#btn_vacaciones {
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #32532d; 
  }
  a#btn_empresas {
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #810606;
    border-left: 3px solid #d3c9ae;
    border-right: 3px solid #d3c9ae;
  }
  a#btn_sociales {
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #000000;
  }
}

/* Menu Movil */
div.menu-movil {
  width: 50px;
  display: block;
  float: right;
  text-align: right;
  margin-top: 25px;
  
}
div.menu-movil:hover {
  cursor: pointer;
}
@media only screen and (min-width:768px) {
  div.menu-movil {
    display: none;
  }
}
div.menu-movil span {
  height: 4px;
  margin-bottom: 6px;
  background-color: #000000;
  display: block;
}
/* Section */
div.contenido-principal {
  background-image: url(../img/fondo1.jpg);
  transition: all .9s ease;
  height: 89vh;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 86%;
}
section.texto-descriptivo {
  height: 10%;
  bottom: 0;
  position: absolute;
  background-color: #e3e7c2;
  opacity: 0.6;
  width: 100%;
}
section.texto-descriptivo p {
  font-weight: bold;
  color: #766c5e;
  font-size: 1.1em;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  text-shadow: #ffffff;
}

/* Footer */
footer {
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  bottom: 0;
}
footer div {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
div.barras-contorno {
  border-left: 5px solid #c3bc96;
  border-right: 5px solid #c3bc96;
  margin-left: 10px;
  margin-right: 10px;
}
footer div a {
  color: #766c5b;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .5s ease;
  margin: 0 15px;
  display: inline-block;
}
footer div a:hover {
  color: #000000;
}
div a i.fa {
  font-size: 25px;
  padding: auto;
  margin-left: 10px;
}
@media only screen and (min-width:768px) {
  footer {
    height: 5%;
    padding: 0.5% 10%;
  }
  footer div {
    display: inline;
  }

  .galeria-imagenes a {
    margin: auto 2%;
  }
  div.footer-der {
    float: right;
  }
  div.contacto {
    margin: 0!important;
  }
  .barras-contorno.idioma {
    border-style: none;
  }
  .barras-contorno.redes {
    border-style: none;
  }
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

